<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.team2.app.comment.CommentMapper">

	<select id="getCommentList" resultType="CommentVO" parameterType="CommentVO">
		SELECT * FROM COMMENT
		WHERE NOTICE_NUM = #{noticeNum}
	</select>
	
	<insert id="writeComment" parameterType="commentVO">
		INSERT INTO COMMENT
			(COMMENT_NUM, NOTICE_NUM, EMP_NUM, COMMENT_CONTENTS, COMMENT_DATE)
		VALUES
			(NULL, #{noticeNum}, #{empNum}, #{CommentContents}, now())
	</insert>

</mapper>